.grid {
  display: grid;

  width: 50%;
  margin: auto;
  margin-top: 17rem;
}
.grid-item {
  padding-block: 5rem;
  background-color: red;
}

@media only screen and (min-width: 70em) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
