.search {
  margin-bottom: 3rem;
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
}
input {
  width: 70%;
  border: none;
  outline: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.search-btn {
  background-color: var(--very-dark-gray);
  width: 5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-block: 1.6rem;
}
